
<h1>Current version is : Alpha 0.1</h1>

<h1>To do & In progress</h1>

<h1>Front:</h1>

<p> Config Page: </p>

<p> - Main config: </p>
<ul>
    <li> Theme </li>
</ul>

<p> - Excel Config: </p>
<ul>
    <li> Refresh time </li>
    <li> Scroll speed </li>
    <li> Font size </li>
    <li> Header color </li>
    <li> Line 1/2 color </li>
    <li> Line 2/2 color </li>
</ul>

<p> - Excel Filter: </p>
<ul>
    <li> Filter * (Start or End) </li>
</ul>

<p> - Widget Config: </p>
<ul>
    <li> Server GTM </li>
    <li> Refresh time </li>
</ul>

<p> - Widget: </p>
<ul>
    <li> Widget types: Unkow / Clock / Note / Image</li>
    <li> Add Widget </li>
    <li> Remove Widget </li>
    <li> Edit Widget </li>
</ul>

<p> - Buttom Bar Config: </p>
<ul>
    <li> Refresh Time </li>
    <li> Scroll speed </li>
</ul>

<p> - Buttom Bar: </p>
<ul>
    <li> Add sentence </li>
    <li> Remove sentence </li>
    <li> Edit sentence </li>
    <li> Color tag possible </li>
</ul>

<p> Main page: </p>

<p> - Excel: </p>
<ul>
    <li> Scroll </li>
    <li> Get config </li>
</ul>

<p> - Buttom Bar: </p>
<ul>
    <li> Print sentences </li>
    <li> Scroll </li>
    <li> Get config </li>
    <li> Get sentences </li>
</ul>

<p> - Widget: </p>
<ul>
    <li> Get config </li>
    <li> Get Widget </li>
    <li> Show Widget </li>
</ul>

<h1>Back</h1>

<p> - Global: </p>
<ul>
    <li> Add saves file inside Config </li>
    <li> Load Config </li>
    <li> Post Config </li>
</ul>

<p> - Excel: </p>
<ul>
    <li> Add optimisation on loading excel </li>
    <li> Set chronometer to reload excel  </li>
    <li> Set chronometer time in settings </li>
    <li> Load Config </li>
    <li> Post Config </li>
</ul>

<p> - Buttom Bar: </p>
<ul>
    <li> Add sentence </li>
    <li> Remove sentence </li>
    <li> Edit sentence </li>
    <li> Load Config </li>
    <li> Post Config </li>
</ul>

<p> - Widget: </p>
<ul>
    <li> Add Widget </li>
    <li> Remove Widget </li>
    <li> Edit Widget </li>
    <li> Load Config </li>
    <li> Post Config </li>
</ul>
