.table-div {

}

.spinner-div {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.label-div {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

    color: red;
}
